body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* NAVBAR */

.navbar-logo{
  margin-left: 80px;
}

.custom-logo {
  width: 150px;
  height: 40px;
}

/* LOGIN */


.navbar button{
  margin-right: 80px;
}

.mobiles{
  text-align: center;
  margin-top: 100px;
}

.paragraph{
  text-align: center;
  font-weight: bold;
  color: #FFD700;
  font-size: 24px;
  padding-top: 150px;
}


/* FOOTER */

.footer {
  background-color: #0e10114f;
  padding: 40px 0;
  color: #ecf4fd;
  text-align: center;
  margin-top: 50px;
}

.footer h5 {
  color: #343a40;
}

.footer p {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer a {
  color: #FFD700;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

footer span{
  padding-top: 20px;
  border-top: 1px solid rgba(7, 10, 19, 0.418);
}


/* Travel Details */

.travel-summary {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  margin-top: 100px;
}

.comments-section {
  background-color: #f8f9fa;
  padding: 15px;
  border-radius: 8px;
  max-width: 600px;
}

.comments-list {
  margin-top: 10px;
}

.comment {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* Search pretraga*/

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.input-group {
  max-width: 600px;
  width: 100%;
}

.form-control.rounded-pill {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn.rounded-pill {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
